div{
  background-color: white;
  text-decoration: none;
  height:300px;
  width:300px;
  border:1px solid white;
  border-radius:1px;
  text-align:center;
}
div:hover{
  background-color:grey;
}
a{
  text-decoration:none;
}
img{
  height:200px;
  width:200px;
}
* {
  display:inline-block;
  margin-top:20px;
  padding:10px 10px 10px 10px;
}
p{
  font-size:12px;
  text-align:center;
}
